# Dependency directories
node_modules/
frontend/node_modules/

# Production build output
frontend/dist/

# Log files
*.log
npm-debug.log*

# OS metadata
.DS_Store
Thumbs.db

# IDE configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# SQLite database
database.sqlite
